snippet h1 "Section Comment" b
#===============================================================================
# ${1: Section...}
#===============================================================================
$0
endsnippet

snippet h2 "Sub-Section Comment" b
# ${1:Sub-Section...}
#===============================================================================
$0
endsnippet
